html {
    background-color: #a9dce3;
}

body {
    font-family: 'Consolas', monospace;
    font-size: 2vh;
    color: #7689de;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 18vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    color: #7689de;
    text-decoration: none;
}

h1 {
    margin: 0px;
    white-space: nowrap;
}

h3 {
    margin: 10px;
    white-space: nowrap;
    transition: all 0.4s ease-in-out;
}

h3:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    flex-direction: row;
    margin: 1vh;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.icon {
    width: 4vh;
    height: 4vh;
    filter: invert(45%) sepia(100%) saturate(600%) hue-rotate(199deg) brightness(95%) contrast(100%);
    transition: all 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}

.logo {
    max-width: 25vh;
    height: auto;
}

.sub {
    font-size: 2vh;
    color: #7689de;
}

.links-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.animated-text {
    font-size: 2.75em;
    border-right: 2px solid;
    letter-spacing: 2px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 1s steps(14),
        cursor .8s step-end infinite alternate;

}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0;}
}